*.class
*.zip
*.bak
src/.metadata/
bin/
.settings/
.idea/
target/
logs/
*.iml
/.classpath
.fuse*
src/out/
*.pyc
/bin
mvn.out.log
buildreports/
upload/
.DS_Store
.settings
/mon
/logs
.classpath
.project
