<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="logmanage" package="">
    <Properties>
        <Property name="LOG_HOME">./logs</Property>
        <Property name="MON_HOME">./mon</Property>
        <Property name="IMEDIATEFLUSH">true</Property>
    </Properties>
    <Appenders>
        <RollingRandomAccessFile name="common"
                                 fileName="${LOG_HOME}/common.log" immediateFlush="${IMEDIATEFLUSH}" bufferSize="8192"
                                 filePattern="${LOG_HOME}/common.log.%i">
            <PatternLayout charset="UTF-8">
                <pattern>%d{MMdd HH:mm:ss,SSS}:%c{1}:%L %msg%n</pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
                <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="logmanage"
                                 fileName="${LOG_HOME}/logmanage.log" immediateFlush="${IMEDIATEFLUSH}"
                                 bufferSize="8192"
                                 filePattern="${LOG_HOME}/logmanage.log.%i">
            <PatternLayout charset="UTF-8">
                <pattern>%d{MMdd HH:mm:ss,SSS}:%c{1}:%L %msg%n</pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="logmanage-error"
                                 fileName="${LOG_HOME}/logmanage-error.log" immediateFlush="${IMEDIATEFLUSH}"
                                 bufferSize="8192"
                                 filePattern="${LOG_HOME}/logmanage-error.log.%i">
            <PatternLayout charset="UTF-8">
                <pattern>%d{MMdd HH:mm:ss,SSS}:%c{1}:%L %msg%n</pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="10"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="common"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="logmanage-logger" level="info" additivity="false">
            <AppenderRef ref="logmanage"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="logmanage-error-logger" level="info" additivity="false">
            <AppenderRef ref="logmanage-error"/>
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
